<h1><%= @list.name %></h1>
<%= cl_image_tag @list.photo.key, height: 300, width: 400, crop: :fill %>
<% @bookmarks.each do |bookmark| %>
  <div>
    <%= bookmark.comment %>
    <%= bookmark.movie.title %>
    <%= link_to "Delete Movie", bookmark_path(bookmark), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
  </div>
<% end %>


<%= link_to "+ Add movie",  new_list_bookmark_path(@list) %>
<%= link_to "Back to lists", lists_path %>
